<% content_for :page_header, "Welcome to Craftsy!" %>

<div class="splash">
  <div class="splash-overlay">
    <p class="about">
      Find unique crafts from around the world.
    </p>
    <p class="about">
      All products handmade by independent artists.
    </p>
    <p class="about">
      Leave reviews of creations you love.
    </p>
  </div>
</div>

<div class="featured">
  <h2 class="sub-header"><%= link_to "Crafts", products_path %></h2>
  <div class="featured-list">
    <% if @products.any? %>
      <% @products.each do |product| %>
        <div class="product-feature">
          <h4><%= link_to product.name, product_path(product) %></h4>
        </div>
      <% end %>
    <% else %>
      <p>There are no products. Please check back soon!</p>
    <% end %>
  </div>
</div>


<div class="contact">
  <h2 class="sub-header">Contact Us</h2>
  <div class="contact-info">
    <h4>Email</h4>
    <p>
      <a href="#">info@crafty.com</a>
    </p>
    <h4>Phone</h4>
    <p>206.555.1023</p>
  </div>
</div>
