<% content_for :page_header, "All Crafts" %>

<% if @products.any? %>
  <div class="products-list">
    <% @products.each do |product| %>
      <div class="product panel panel-default">
        <div class="panel-body">
          <%= image_tag(product.image.url(:thumb)) %>
          <h3><%= link_to product.name, product_path(product) %></h3>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <h3>There are no crafts saved. Please check back soon!</h3>
<% end %>
